
<div class="flex flex-row justify-around  align-center">
    <div class="flex flex-col">
        <div class="card flex justify-content-center">
            <p-card [header]=user.data.first_name [subheader]=user.data.last_name class="w-100% h-100%">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]=user.data.avatar />
                </ng-template>
                <p>
                    Email : {{user.data.email}}
                </p>
               
            </p-card>
        </div>
    </div>
    <div class="flex flex-col w-50% ">
        <p class=" mt-5">ID : {{ user.data.id }}</p>
        <p class="mt-3">{{ user.support.text }}</p>
    </div>
</div>