<!-- <header class="wrapper row full-center">
    <img src="../../../assets/images/oc-logo.svg" alt="log image" class="logo">

    <div class="row gap-1">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About Us</a> -->
        <!-- <a routerLink="/contact" routerLinkActive="active">Contact</a> -->


    <!-- </div>

</header> -->

<div class="card ">
    <p-toolbar class="flex justify-center w-screen bg-slate-200">
    <div class="p-toolbar-group-center bg-slate-200 ">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" [(ngModel)]="item" (ngModelChange)="onItemChange()" />
        </span>
   </div>
    
   
    </p-toolbar>
    </div>