<!-- <app-header (searchIdChange)="onSearch($event)"></app-header> -->

<div class="flex flex-col gap-y-2">
  <div class="flex flex-row justify-around">
    <h4 >ID</h4>
    <h4 >Avatar</h4>
    <h4 >First name</h4>
    <h4 >Last name</h4>
  </div>
  @if(users.length===0 || loading ){
  <mat-spinner></mat-spinner>
  }@else{ @for (user of users; track user) {
    <app-users [user]="user" (click)="fetchUserId(user.id)"></app-users>
  } }

   <!--paginator  -->

   <mat-paginator clacss = "flex justify-around"
   [length]="totalRecords"
   [pageSize]="rows"
   (page)="onPageChange($event)"
   [showFirstLastButtons]="true"
   aria-label="Select page">
 </mat-paginator>


</div>
